<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tomovwgti.atnd"
      android:versionCode="6"
      android:versionName="1.4">
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />
    
    <application android:icon="@drawable/atndicon" android:label="@string/app_name">
        <activity android:name=".AtndPlugIn"
                  android:label="@string/eventlist"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_USER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="jp.r246.twicca.category.OWNER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.tomovwgti.eventatnd.EventAtndPlugIn"
                  android:label="@string/eventatndlist"
                  android:configChanges="orientation|keyboardHidden">
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
            <intent-filter>
                <action android:name="jp.r246.twicca.ACTION_SHOW_USER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="jp.r246.twicca.category.OWNER" />
            </intent-filter>
        </activity>        
        
		<activity android:name=".AtndEventInfo"
				  android:label="@string/eventinfo"
				  android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity android:name=".AtndUsers"
				  android:label="@string/userinfo"
				  android:configChanges="orientation|keyboardHidden">
		</activity>

		<activity android:name=".PointMapView"
				  android:label="@string/mapinfo"
				  android:configChanges="orientation|keyboardHidden">
		</activity>

		<activity android:name="com.tomovwgti.eventatnd.EventAtndEventInfo"
				  android:label="@string/mapinfo"
				  android:configChanges="orientation|keyboardHidden">
		</activity>
				
		<uses-library android:name="com.google.android.maps" />
    </application>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 